#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "joplin"
name = "Joplin"
description.en = "Note taking and to-do with synchronisation capabilities"
description.fr = "Prise de notes et de tâches avec capacités de synchronisation"

version = "3.5.12~ynh1"

maintainers = []

[upstream]
license = "AGPL-3.0-or-later"
website = "https://joplinapp.org/"
admindoc = "https://joplinapp.org/help/"
code = "https://github.com/laurent22/joplin/"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "5G"
ram.build = "4G"
ram.runtime = "280M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

[resources]

    [resources.sources]

    [resources.sources.main]
    url = "https://github.com/laurent22/joplin/archive/refs/tags/v3.5.12.tar.gz"
    sha256 = "ae0793caa9f9a07c8be4cc02e1fe15430591a531a66261847a5a6f2d02553efe"
    autoupdate.strategy = "latest_github_release"

    [resources.system_user]
    allow_email = true

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"
    api.url = "/api"
    api.allowed = "visitors"
    api.show_tile = false
    api.protected = true

    [resources.ports]
    main.default = 22300

    [resources.apt]
    packages = "postgresql, postgresql-client, python3-bcrypt, rsync, yarn"

    [resources.database]
    type = "postgresql"

    [resources.nodejs]
    version = "22"
